{% extends 'base.html' %}
{% block title %}Fitness Tracker{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='contact.css') }}">
{% endblock %}
{% block content %}
<section class="contact-header">
    <h2>Contact Us</h2>
    <p>We would love to hear from you! Reach out to us through the form below.</p>
</section>

<!-- Contact Form -->
<section class="contact-form">
    <h3>Send Us a Message</h3>
    <form method="POST" action="{{ url_for('bp.contact') }}">
        <label for="name">Your Name:</label>
        <input type="text" id="name" name="name" placeholder="Enter your name" required>

        <label for="email">Your Email:</label>
        <input type="email" id="email" name="email" placeholder="Enter your email" required>

        <label for="message">Your Message:</label>
        <textarea id="message" name="message" placeholder="Write your message here" required></textarea>

        <button type="submit">Send Message</button>
    </form>
</section>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="message-container">
    {% for category, message in messages %}
    <p class="{{ 'success-message' if category == 'success' else 'error-message' }}">{{ message }}</p>
    {% endfor %}
</div>
{% endif %}
{% endwith %}


<!-- Contact Information -->
<section class="contact-info">
    <h3>Contact Information</h3>
    <p>Email: <a href="mailto:hamodyhelmy2020@gmail.com">hamodyhelmy2020@gmail.com</a></p>
    <p>Phone: <a href="tel:+201091703235">+201091703235</a></p>
    <p>Follow us on social media:</p>
    <ul>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Instagram</a></li>
    </ul>
</section>

<!-- Map Section -->
<section class="map-container">
    <h3>Our Location</h3>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1657.8717073757339!2d31.251460033289852!3d29.970683693973466!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x145847927ea24221%3A0xe6198ce05a43e104!2z2K3Yr9in2KbZgiDYp9mE2YXYudin2K_Zig!5e0!3m2!1sar!2seg!4v1734976065120!5m2!1sar!2seg" width="600" height="450" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>

{% endblock %}

{% block scripts %}
{{ super() }} <!-- Include the parent block content -->
<script src="{{ url_for('static', filename='js/contact.js') }}" defer></script>
<script src="{{ url_for('static', filename='js/settings.js') }}" defer></script>
{% endblock %}
